<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>beans</key>
        <dict>
            <key>googleService</key>
            <dict>
                <key>class</key>
                <string>JFServiceEndpoint</string>
                <key>address</key>
                <string>bundle:config:googleServiceEndpoint</string>
                <key>method</key>
                <string>GET</string>
                <key>b:production</key>
                <true/>
            </dict>
            <key>googleService1</key>
            <dict>
                <key>class</key>
                <string>JFServiceEndpoint</string>
                <key>address</key>
                <string>googleServiceEndpoint</string>
                <key>b:production</key>
                <true/>
                <key>method</key>
                <string>POST</string>
                <key>params</key>
                <dict>
                    <key>firstParam</key>
                    <string>test</string>
                </dict>
            </dict>
            <key>googleService2</key>
            <dict>
                <key>class</key>
                <string>JFServiceEndpoint</string>
                <key>address</key>
                <string>bundle:services:googleServiceEndpoint</string>
                <key>b:production</key>
                <false/>
                <key>method</key>
                <string>POST</string>
                <key>params</key>
                <dict>
                    <key>firstParam</key>
                    <string>test</string>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
